.header {
  background-color: #030207;
  background-image: url("https://cdn.vox-cdn.com/thumbor/HF_sAj0TWz6W5czvAVLoaucQPj4=/0x0:3000x2342/1200x800/filters:focal(1514x843:1994x1323)/cdn.vox-cdn.com/uploads/chorus_image/image/67416245/640594548.jpg.0.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}
.header .title {
  color: white;
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 10px #bf0d3e;
}
.header img {
  width: 20%;
}
.content {
  margin-top: 20px;
  background-color: #fff;
}
.column .league-name {
  margin-bottom: 10px;
}
.teams {
  background-color: rgb(239, 240, 242);
  margin-left: 10px;
  margin-right: 20px;
  height: 25%;
}
.teams ul {
  list-style-type: none;
}
.teams ul li {
  margin-top: 1px;
}
.game-buttons button {
  margin-bottom: 15px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:80%;
}
.todays-games {
  background-color: rgb(239, 240, 242);
  padding: 15px 0 0 15px;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 727px) {
  .columns {
    flex-direction: column-reverse;
  }
  .teams {
    width: 100%;
    text-align: center;
  }
}

#bal:hover {
  background-color: #df4601;
}
#bal:hover a {
  color: #000000;
}
#bos:hover {
  background-color: #bd3039;
}
#bos:hover a {
  color: #0c2340;
}
#tam:hover {
  background-color: #092c5c;
}
#tam:hover a {
  color: #8fbce6;
}
#nyy:hover {
  background-color: #132448;
}
#nyy:hover a {
  color: #c4ced3;
}
#tor:hover {
  background-color: #144a8e;
}
#tor:hover a {
  color: #e8291c;
}
#cws:hover {
  background-color: #000000;
}
#cws:hover a {
  color: #c4ced4;
}
#cle:hover {
  background-color: #e31937;
}
#cle:hover a {
  color: #1a2e5a;
}
#det:hover {
  background-color: #182d55;
}
#det:hover a {
  color: #f26722;
}
#kcr:hover {
  background-color: #174885;
}
#kcr:hover a {
  color: #c0995a;
}
#min:hover {
  background-color: #002b5c;
}
#min:hover a {
  color: #d31145;
}
#hou:hover {
  background-color: #002d62;
}
#hou:hover a {
  color: #eb6e1f;
}
#laa:hover {
  background-color: #ba0021;
}
#laa:hover a {
  color: #003263;
}
#oak:hover {
  background-color: #003831;
}
#oak:hover a {
  color: #efb21e;
}
#sea:hover {
  background-color: #005c5c;
}
#sea:hover a {
  color: #ffc528;
}
#tex:hover {
  background-color: #003278;
}
#tex:hover a {
  color: #c0111f;
}
#atl:hover {
  background-color: #df4601;
}
#atl:hover a {
  color: #000000;
}
#mia:hover {
  background-color: #ffd100;
}
#mia:hover a {
  color: #000000;
}
#nym:hover {
  background-color: #ff5910;
}
#nym:hover a {
  color: #002d72;
}
#phi:hover {
  background-color: #e81828;
}
#phi:hover a {
  color: #284898;
}
#was:hover {
  background-color: #212759;
}
#was:hover a {
  color: #ab0003;
}
#chi:hover {
  background-color: #0e3386;
}
#chi:hover a {
  color: #cc3433;
}
#cin:hover {
  background-color: #c6011f;
}
#cin:hover a {
  color: #000000;
}
#mil:hover {
  background-color: #b6922e;
}
#mil:hover a {
  color: #0a2351;
}
#pit:hover {
  background-color: #000000;
}
#pit:hover a {
  color: #fdb827;
}
#stl:hover {
  background-color: #c41e3a;
}
#stl:hover a {
  color: #fdda00;
}
#ari:hover {
  background-color: #e3d4ad;
}
#ari:hover a {
  color: #a71930;
}
#col:hover {
  background-color: #33006f;
}
#col:hover a {
  color: #c4ced4;
}
#lad:hover {
  background-color: #ef3e42;
}
#lad a:hover {
  color: #005a9c;
}
#sdp:hover {
  background-color: #002d62;
}
#sdp:hover a {
  color: #ffffff;
}
#sfg:hover {
  background-color: #fd5a1e;
}
#sfg:hover a {
  color: #000000;
}
